*.o
*.a
*.out
build
.vscode
.DS_Store
CPP-module00/ex00/megaphone
CPP-module00/ex01/Phonebook
CPP-module00/ex02/Account
CPP-module01/ex00/zombie
CPP-module01/ex01/zombie
CPP-module01/ex02/brain
CPP-module01/ex03/weapon
CPP-module01/ex04/*replace
CPP-module01/ex05/harl
CPP-module01/ex06/harlFilter
CPP-module02/ex00/fixed
CPP-module02/ex01/fixed
CPP-module02/ex02/fixed
CPP-module02/ex03/bsp
CPP-module03/ex00/clapTrap
CPP-module03/ex01/scavTrap
CPP-module03/ex02/fragTrap
CPP-module03/ex03/diamondTrap
CPP-module04/ex00/animal
CPP-module04/ex01/animal
CPP-module04/ex02/animal
CPP-module04/ex03/materia
CPP-module05/ex00/bureaucrat
CPP-module05/ex01/form
CPP-module05/ex02/form
CPP-module05/ex03/intern
CPP-module06/ex00/converter
CPP-module06/ex01/serializer
CPP-module06/ex02/identifier
CPP-module07/ex00/whatever
CPP-module07/ex01/iter
CPP-module07/ex02/array
CPP-module08/ex00/easyfind
CPP-module08/ex01/span
CPP-module08/ex02/mutant
CPP-module09/ex00/btc
CPP-module09/ex01/RPN
CPP-module09/ex02/PmergeMe